@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#light-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#card-grid {
  display: grid;
  width: inherit;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 50px;
}

@media (max-width: 768px) {
  #card-grid {
    grid-template-columns: 1fr;
  }
}

#item-card {
  background-color: #00000035;
  border-radius: 12px;
  transition: 250ms;
  border: 1px solid #ffffff20;
  padding: 2em;
  aspect-ratio: 1;
}

#item-card:hover {
  background-color: #00000055;
  border-color:  #ffffff35;
}